extends layout

block header
  h2 Course page for: 
    strong SDJ1

block content
  section(class="column small-12")
    h2 About the course
    p.
      The main purpose of the course is to provide students with the qualifications needed to understand the core
      concepts and techniques of object-oriented system development and programming.
    h4 About the lecturers
    p.
      We are two lecturers running this course, Lukas and Alexandra. We both study Computer Science at Aarhus University.
      Alexandra will be in charge of the lectures Monday and thursday, and Lukas will be in charge on Wednesdays.
      Furthermore Lukas will be in charge of the exam. Questions can be directed to
      #[a(href="mailto:alexandra.hou@gmail.com") alexandra.hou@gmail.com]
  section(class="column small-12")
    h2 Literature and Software
    p.
      We will use Eclipse, links for installation can be found in the notes for day 1.
  section(class="column small-12")
    h2 Course plan
    p.
      The course plan is updated regularly with more information, so remember to check back.
    h4 Week 1
    table
      thead
        tr
          th.WeekdayCol Weekday
          th.SubjectCol Subjects
          th.LitteratureCol Literature
          th.ExercisesCol Exercises
      tbody
        tr
          td Monday
          td Introduction to the course and eclipse, #[a(href="slides/day-1" target="_blank") slides]
          td #[a(href="notes/day-1" target="_blank") notes]
          td
        tr
          td Wednesday
          td Java fundamentals 1, #[a(href="slides/day-2" target="_blank") slides]
          td Gaddis 2.1 - 2.6, #[a(href="notes/day-2") notes]
          td #[a(href="exercises/day-2") day 2]
        tr
          td Thursday
          td Java fundamentals 2, #[a(href="slides/day-3" target="_blank") slides]
          td Gaddis 2.7 - 2.13
          td #[a(href="exercises/day-3") day 3]