extends layout

block header
  h2 Course page for:
    strong SDJ1

block content
  section(class="column small-12")
    h2 About the course
    p.
      The main purpose of the course is to provide students with the qualifications needed to understand the core
      concepts and techniques of object-oriented system development and programming.
    h4 About the lecturers
    p.
      We are two lecturers running this course, Lukas and Alexandra. We both study Computer Science at Aarhus University.
      Alexandra will be in charge of the lectures Monday and thursday, and Lukas will be in charge on Wednesdays.
      Furthermore Lukas will be in charge of the exam. Questions can be directed to
      #[a(href="mailto:alho@via.dk") alho@via.dk]
  section(class="column small-12")
    h2 About the exam
    p.
      The exam will be held on January 25th and 26th. The exam schedule can be found here as soon as it is approved by
      VIA.
    h4 Exam prep class - January 19
    p.
      The class will be from 12 to 16, specific room will be announced later.
    p.
      The main purpose of this class will be for you to ask questions, and work on the example exam questions under
      guidance. If you have anything you would like us to prepare a short lecture about, send an email at least a day
      in advance, then we will prepare some material and small assignments practising those specific skills.
    h4 Exam prep workshop - January 16
    p.
      The workshop will be held from 12 to 16, specific room will be announced later.
  section(class="column small-12")
    h2 Literature and Software
    p.
      We will use Eclipse, links for installation can be found in the notes for day 1.
  section(class="column small-12")
    h2 Course plan
    p.
      The course plan is updated regularly with more information, so remember to check back.
    h4 Week 1
    table
      thead
        tr
          th.WeekdayCol Weekday
          th.SubjectCol Subjects
          th.LitteratureCol Literature
          th.ExercisesCol Exercises
      tbody
        tr
          td Monday
          td Introduction to the course and eclipse, #[a(href="slides/day-1" target="_blank") slides]
          td #[a(href="notes/day-1" target="_blank") notes]
          td
        tr
          td Wednesday
          td Java fundamentals 1, #[a(href="slides/day-2" target="_blank") slides]
          td Gaddis 2.1 - 2.6, #[a(href="notes/day-2") notes]
          td #[a(href="exercises/day-2") day 2]
        tr
          td Thursday
          td Java fundamentals 2, #[a(href="slides/day-3" target="_blank") slides]
          td Gaddis 2.7 - 2.13, #[a(href="notes/day-3") notes]
          td #[a(href="exercises/day-3") day 3]
    h4 Week 2
    table
      thead
        tr
          th.WeekdayCol Weekday
          th.SubjectCol Subjects
          th.LitteratureCol Literature
          th.ExercisesCol Exercises
      tbody
        tr
          td Monday
          td Classes and Objects, #[a(href="slides/day-4" target="_blank") slides]
          td [Gaddis] 3.1-3.4, #[a(href="notes/day-4") notes]
          td #[a(href="exercises/day-4") day 4]
        tr
          td Wednesday
          td Classes and Objects, #[a(href="slides/day-5" target="_blank") slides]
          td [Gaddis] 3.5-3.9
          td #[a(href="exercises/day-5") day 5]
        tr
          td Thursday
          td No class because of illness
          td
          td
    h4 Week 3
    table
      thead
        tr
          th.WeekdayCol Weekday
          th.SubjectCol Subjects
          th.LitteratureCol Literature
          th.ExercisesCol Exercises
      tbody
        tr
          td Monday
          td Test 1
          td [Gaddis] 2-3
          td #[a(href="notes/day-7") test info]
        tr
          td Wednesday
          td Decision structures, #[a(href="slides/day-8" target="_blank") slides]
          td [Gaddis] 4.1-4.6
          td #[a(href="exercises/day-8") day 8]
        tr
          td Thursday
          td Decision Structures, #[a(href="slides/day-9" target="_blank") slides], test 1 recap #[a(href="slides/test-1-recap" target="_blank") slides]
          td [Gaddis] 4.7-4.14
          td #[a(href="exercises/day-9") day 9],#[br] #[a(href="exercises/hand-in-1") hand-in-1]
    h4 Week 4
    table
      thead
        tr
          th.WeekdayCol Weekday
          th.SubjectCol Subjects
          th.LitteratureCol Literature
          th.ExercisesCol Exercises
      tbody
        tr
          td Monday
          td Loops, #[a(href="slides/day-10" target="_blank") slides]
          td [Gaddis] 5.1-5.9
          td #[a(href="exercises/day-10") day 10]
        tr
          td Wednesday
          td Recap, #[a(href="slides/day-11" target="_blank") slides]
          td
          td #[a(href="exercises/day-11") day 11]
        tr
          td Thursday
          td Recap, #[a(href="slides/day-12" target="_blank") slides]
          td
          td #[a(href="exercises/day-12") day 12]
    h4 Week 5
    table
      thead
        tr
          th.WeekdayCol Weekday
          th.SubjectCol Subjects
          th.LitteratureCol Literature
          th.ExercisesCol Exercises
      tbody
        tr
          td Monday
          td Test 2
          td [Gaddis] 2-5
          td
        tr
          td Wednesday
          td Classes and objects revisited, #[a(href="slides/day-14" target="_blank") slides]
          td [Gaddis] 6.1-6.8
          td #[a(href="exercises/day-14") day 14], #[a(href="exercises/code-example-1") Clock.java], #[a(href="exercises/code-example-2") ClockTest.java]
        tr
          td Thursday
          td Classes and objects revisited, #[a(href="slides/day-15" target="_blank") slides]
          td [Gaddis] 6.9-6.11
          td #[a(href="exercises/day-15") day 15]
    h4 Week 6
    table
      thead
        tr
          th.WeekdayCol Weekday
          th.SubjectCol Subjects
          th.LitteratureCol Literature
          th.ExercisesCol Exercises
      tbody
        tr
          td Monday
          td From problem description to code, #[a(href="slides/day-16" target="_blank") slides]
          td #[a(href="/static/documents/day16.zip") code example], #[a(href="/static/images/TestVideo.mp4") video]
          td #[a(href="exercises/day-16") day 16]
        tr
          td Wednesday
          td Classes and objects revisited
          td [Gaddis] 6.13-6.15
          td #[a(href="exercises/day-17") day 17]
        tr
          td Friday
          td Arrays, #[a(href="slides/day-18" target="_blank") slides]
          td [Gaddis] 7.1-7.6
          td #[a(href="exercises/day-18") day 18]
    h4 Week 7
    table
      thead
        tr
          th.WeekdayCol Weekday
          th.SubjectCol Subjects
          th.LitteratureCol Literature
          th.ExercisesCol Exercises
      tbody
        tr
          td Monday
          td 2-dimensional arrays and codechef, #[a(href="slides/day-19" target="_blank") slides]
          td [Gaddis] 7.7, 7.10-7.12, #[a(href="https://www.codechef.com") codechef]
          td #[a(href="exercises/day-19") day 19]
          //TODO did not teach varargs or command line arguments
        tr
          td Wednesday
          td ArrayLists, #[a(href="slides/day-20" target="_blank") slides]
          td [Gaddis] 7.13-7.14
          td #[a(href="exercises/day-20") day 20], #[a(href="exercises/code-example-3") Child.java], #[a(href="exercises/code-example-4") Kindergarten.java]
        tr
          td Thursday
          td #[a(href="/static/documents/Q&A.zip") live coded example + exam question with solution]
          td
          td #[a(href="exercises/day-21") day 21], #[br] #[a(href="exercises/code-example-5") Note.java], #[br] #[a(href="exercises/code-example-6") NoteBook.java using Arrays], #[br] #[a(href="exercises/code-example-7") NoteBook.java using ArrayLists]
    h4 Week 8
    table
      thead
        tr
          th.WeekdayCol Weekday
          th.SubjectCol Subjects
          th.LitteratureCol Literature
          th.ExercisesCol Exercises
      tbody
        tr
          td Monday
          td Midterm Exam
          td #[a(href="notes/day-22") Schedule]
          td
        tr
          td Wednesday
          td Inheritance, part 1, #[a(href="slides/day-23" target="_blank") slides]
          td Gaddis 9.1-9.6
          td #[a(href="exercises/day-23") day 23], #[a(href="exercises/code-example-8") House exam question], #[a(href="exercises/code-example-9") Vehicle and Bicycle]
        tr
          td Thursday
          td Recap and Pacman + Inheritance part 2, #[a(href="slides/day-24" target="_blank") slides]
          td
          td #[a(href="exercises/day-24") day 24]
    h4 Week 9
    table
      thead
        tr
          th.WeekdayCol Weekday
          th.SubjectCol Subjects
          th.LitteratureCol Literature
          th.ExercisesCol Exercises
      tbody
        tr
          td Monday
          td Inheritance part 3, #[a(href="slides/day-25" target="_blank") slides]
          td [Gaddis] 9.7-9.8
          td #[a(href="exercises/day-25") day 25]
        tr
          td Wednesday
          td Inheritance part 4 and exceptions part 1, #[a(href="slides/day-26" target="_blank") slides]
          td [Gaddis] 9.7-9.8, 10.1-10.2
          td #[a(href="exercises/day-26") day 26], #[a(href="exercises/hand-in-2") group hand-in]
        tr
          td Thursday
          td Sequence diagrams, Files part 1, #[a(href="slides/day-27" target="_blank") slides]
          td [Gaddis] 5.10, [Gaddis] 10.3
          td #[a(href="exercises/day-27") day 27]
    h4 Week 10
    table
      thead
        tr
          th.WeekdayCol Weekday
          th.SubjectCol Subjects
          th.LitteratureCol Literature
          th.ExercisesCol Exercises
      tbody
        tr
          td Monday
          td Files part 2, #[a(href="slides/day-28" target="_blank") slides]
          td [Gaddis] 5.10, [Gaddis] 10.3
          td #[a(href="exercises/day-28") day 28], #[a(href="/static/documents/files.zip") files example]
        tr
          td Wednesday
          td GUI part 1, #[a(href="slides/day-29" target="_blank") slides]
          td [Gaddis] 11.2
          td #[a(href="exercises/day-29") day 29], #[a(href="exercises/code-example-11") LoadInitialData example], #[a(href="exercises/code-example-10") Code snippets]
        tr
          td Thursday
          td GUI part 2, #[a(href="slides/day-30" target="_blank") slides]
          td [Gaddis] 11.1-11.8
          td #[a(href="exercises/day-30") day 30], #[a(href="exercises/code-example-12") A complicated GUI]
    h4 Week 11
    table
      thead
        tr
          th.WeekdayCol Weekday
          th.SubjectCol Subjects
          th.LitteratureCol Literature
          th.ExercisesCol Exercises
      tbody
        tr
          td Monday
          td GUI part 3, #[a(href="slides/day-31" target="_blank") slides]
          td
          td #[a(href="exercises/day-31") day 31]
        tr
          td Wednesday
          td GUI part 4, #[a(href="slides/day-32" target="_blank") slides]
          td [Gaddis] 12.1 + 12.3-12.4 + 12.7-12.8 ​
          td #[a(href="exercises/day-32") day 32], #[a(href="exercises/code-example-13") students txt]
        tr
          td Thursday
          td Javadocs, #[a(href="slides/day-33" target="_blank") slides]
          td #[a(href="https://docs.oracle.com/javase/7/docs/api/" target="_blank") java api]
          td #[a(href="exercises/day-33") day 33]
    h4 Week 12
    table
      thead
        tr
          th.WeekdayCol Weekday
          th.SubjectCol Subjects
          th.LitteratureCol Example exam questions
          th.ExercisesCol Exercises
      tbody
        tr
          td Monday
          td Exam prep, #[a(href="slides/day-34" target="_blank") slides]
          td #[a(href="exercises/day-35") questions]
          td #[a(href="exercises/day-34") day 34]
    h4 Week 13
    table
      thead
        tr
          th.WeekdayCol Weekday
          th.SubjectCol Subjects
          th.LitteratureCol Litterature
          th.ExercisesCol Exercises
      tbody
        tr
          td Thursday
          td Exam prep
          td
          td
    //section.column.small-12
    //h2 Midterm exam
    //h4 Exam schedule to be announced.
    //p.
      The test/exam will basically be a shorter version of the exam in January.
    //p.
      There are 10 minutes for each students for the test, which starts from the
      moment you enter the room, and also includes the time it takes the
      external examiner and I to discuss your grade afterwards. So in reality
      there will be a bit less than 10 minutes for you to program.
    //p.
      The test will start with you choosing a random assignment (a class
      diagram) that you will then start programming. You should expect that
      we will probably ask questions, interrupt you, and make you move around
      between different classes and methods. That is only to help you and give
      you a better chance to show off your programming skills. With such a
      short time it is impossible to finish the entire assignment, and so if
      we don't take the control a bit, then some of you might end up spending
      the entire time without showing us more than that you can make
      get-methods. That would be a shame (assuming most of you can do a bit
      more than that). It also means that there will probably be some errors
      shown in eclipse, since there will be some missing classes and
      incomplete code (or some misspelled words and other typing errors) -
      that's completely OK, so don't get stressed by that.
    //p.
      To further save time I will have a computer connected to the projector
      that you must program on. I know some of you would like to use your own
      computers instead, but unfortunately it has been decided that you will
      have to use the one we provide for you. The computer I bring has a
      #[a(href="https://upload.wikimedia.org/wikipedia/commons/8/84/KB_Danish.svg") Danish keyboard layout],
      but I will have a keyboard with an
      #[a(href="https://upload.wikimedia.org/wikipedia/commons/5/51/KB_United_States-NoAltGr.svg") English keyboard layout]
      there as well. There will be both a Mac and a Windows computer.
    //p.
      Some have asked if you are allowed to bring notes, the book, and similar.
      Yes, you are, but with such short time you won't have much time to look
      at it, and of course it also looks better if you can program on your own
      instead.
    //p.
      To give you as much time as possible to program we will not also spend
      some of the 10 minutes on giving you your grade after we are done
      discussing it. You will get that after the exam is over instead (most
      likely by email the day after the exam).
  section(class="column small-12")
    h2 Workshops
    p.
      workshops are every wednesday 13.05-16.05, and are a part of the course, you have to participate in the workshops,
      and your attendace will be checked each time.
  section(class="column small-12")
    h2 Tests
    h4 Test 1
    p.
      The first test can be found #[a(href="/static/documents/Test1.pdf") here]. A possible solution can be found
      #[a(href="/static/documents/test1.zip") here]
    h4 Test 2
    p.
      The second test can be found #[a(href="/static/documents/Test2.pdf") here].
  //section(class="column small-12")
    h2 Test hand-in
    div.callout
      form(action="/handin/3" method="post" enctype="multipart/form-data")
        label(for="handinPackage") Upload your solution:
        input(type="file" id="handinPackage" name="handinPackage" required="true")
        label(for="student").
          Type your First-name here, using
          #[strong only letters from the english alphabet (a-z) and no accents].
        input(type="text" id="student" name="student" pattern="[a-zA-Z]*")
        input(type="submit")
