extends layout

block header
  h2 Course page for:
    strong SDJ1

block content
  section(class="column small-12")
    h2 About the course
    p.
      The main purpose of the course is to provide students with the qualifications needed to understand the core
      concepts and techniques of object-oriented system development and programming.
    h4 About the lecturers
    p.
      We are two lecturers running this course, Lukas and Alexandra. We both study Computer Science at Aarhus University.
      Alexandra will be in charge of the lectures Monday and thursday, and Lukas will be in charge on Wednesdays.
      Furthermore Lukas will be in charge of the exam. Questions can be directed to
      #[a(href="mailto:alho@via.dk") alho@via.dk]
  section(class="column small-12")
    h2 Literature and Software
    p.
      We will use Eclipse, links for installation can be found in the notes for day 1.
  section(class="column small-12")
    h2 Course plan
    p.
      The course plan is updated regularly with more information, so remember to check back.
    h4 Week 1
    table
      thead
        tr
          th.WeekdayCol Weekday
          th.SubjectCol Subjects
          th.LitteratureCol Literature
          th.ExercisesCol Exercises
      tbody
        tr
          td Monday
          td Introduction to the course and eclipse, #[a(href="slides/day-1" target="_blank") slides]
          td #[a(href="notes/day-1" target="_blank") notes]
          td
        tr
          td Wednesday
          td Java fundamentals 1, #[a(href="slides/day-2" target="_blank") slides]
          td Gaddis 2.1 - 2.6, #[a(href="notes/day-2") notes]
          td #[a(href="exercises/day-2") day 2]
        tr
          td Thursday
          td Java fundamentals 2, #[a(href="slides/day-3" target="_blank") slides]
          td Gaddis 2.7 - 2.13, #[a(href="notes/day-3") notes]
          td #[a(href="exercises/day-3") day 3]
    h4 Week 2
    table
      thead
        tr
          th.WeekdayCol Weekday
          th.SubjectCol Subjects
          th.LitteratureCol Literature
          th.ExercisesCol Exercises
      tbody
        tr
          td Monday
          td Classes and Objects, #[a(href="slides/day-4" target="_blank") slides]
          td [Gaddis] 3.1-3.4, #[a(href="notes/day-4") notes]
          td #[a(href="exercises/day-4") day 4]
        tr
          td Wednesday
          td Classes and Objects, #[a(href="slides/day-5" target="_blank") slides]
          td [Gaddis] 3.5-3.9
          td #[a(href="exercises/day-5") day 5]
        tr
          td Thursday
          td No class because of illness
          td
          td
    h4 Week 3
    table
      thead
        tr
          th.WeekdayCol Weekday
          th.SubjectCol Subjects
          th.LitteratureCol Literature
          th.ExercisesCol Exercises
      tbody
        tr
          td Monday
          td Test 1
          td [Gaddis] 2-3
          td #[a(href="notes/day-7") test info]
        tr
          td Wednesday
          td Decision structures, #[a(href="slides/day-8" target="_blank") slides]
          td [Gaddis] 4.1-4.6
          td #[a(href="exercises/day-8") day 8]
        tr
          td Thursday
          td Decision Structures, #[a(href="slides/day-9" target="_blank") slides], test 1 recap #[a(href="slides/test-1-recap" target="_blank") slides]
          td [Gaddis] 4.7-4.14
          td #[a(href="exercises/day-9") day 9],#[br] #[a(href="exercises/hand-in-1") hand-in-1]
    h4 Week 4
    table
      thead
        tr
          th.WeekdayCol Weekday
          th.SubjectCol Subjects
          th.LitteratureCol Literature
          th.ExercisesCol Exercises
      tbody
        tr
          td Monday
          td Loops, #[a(href="slides/day-10" target="_blank") slides]
          td [Gaddis] 5.1-5.9
          td #[a(href="exercises/day-10") day 10]
        tr
          td Wednesday
          td Recap, #[a(href="slides/day-11" target="_blank") slides]
          td
          td #[a(href="exercises/day-11") day 11]
        tr
          td Thursday
          td Recap, #[a(href="slides/day-12" target="_blank") slides]
          td
          td #[a(href="exercises/day-12") day 12]
    h4 Week 5
    table
      thead
        tr
          th.WeekdayCol Weekday
          th.SubjectCol Subjects
          th.LitteratureCol Literature
          th.ExercisesCol Exercises
      tbody
        tr
          td Monday
          td Test 2
          td [Gaddis] 2-5
          td
        tr
          td Wednesday
          td Classes and objects revisited, #[a(href="slides/day-14" target="_blank") slides]
          td [Gaddis] 6.1-6.8
          td #[a(href="exercises/day-14") day 14]
        tr
          td Thursday
          td Classes and objects revisited
          td [Gaddis] 6.9-6.11
          td
  section(class="column small-12")
    h2 Workshops
    p.
      workshops are every wednesday 13.05-16.05, and are a part of the course, you have to participate in the workshops,
      and your attendace will be checked each time.
  section(class="column small-12")
    h2 Tests
    h4 Test 1
    p.
      The first test can be found #[a(href="/static/documents/Test1.pdf") here]. A possible solution can be found
      #[a(href="/static/documents/test1.zip") here]
    h4 Test 2
    p.
      The second test can be found #[a(href="/static/documents/Test2.pdf") here].
  //section(class="column small-12")
    h2 Test hand-in
    div.callout
      form(action="/handin/3" method="post" enctype="multipart/form-data")
        label(for="handinPackage") Upload your solution:
        input(type="file" id="handinPackage" name="handinPackage" required="true")
        label(for="student").
          Type your First-name here, using
          #[strong only letters from the english alphabet (a-z) and no accents].
        input(type="text" id="student" name="student" pattern="[a-zA-Z]*")
        input(type="submit")
