body {
    padding: 2em;
}

body>header {
    margin-bottom: 2em;
}

.content-container {
    margin-bottom: 3em;
}

.WeekdayCol {
    width: 14%;
}

.SubjectCol {
    width: 42%;
}

.LitteratureCol {
    width: 30%;
}

.ExercisesCol {
    width: 14%;
}

img {
    max-height: 30rem;
}

.exercises h4, .notes h4 {
    margin-top: 1.5rem;
}

.uml-class {
    background: white;
    border: solid thin black;
    display: inline-block;
}

.uml-class ul, .uml-class li {
    text-align: left;
    width: 100%;
    list-style: none;
    font-size: 1rem;
}

.reveal .uml-class ul, .reveal .uml-class li {
    font-size: 1.3rem;
}

.uml-class li {
    text-indent: -0.3em;
}

.uml-class li.public:before {
    content: "+";
    padding-right: 0.3em;
}

.uml-class li.private:before {
    content: "-";
    padding-right: 0.3em;
}

.uml-class li.protected:before {
    content: "#";
    padding-right: 0.3em;
}

.uml-class .fields {
    border: solid thin black;
    padding-right: 0.5em;
}

.uml-class .methods {
    border: solid thin black;
    padding-right: 0.5em;
}

.uml-class .name {
    border: solid thin black;
    font-weight: bold;
    padding-right: 0.5em;
    text-align: center;
    font-size: 1.5rem;
}