body {
    padding: 2em;
}

body>header {
    margin-bottom: 2em;
}

.content-container {
    margin-bottom: 3em;
}

.WeekdayCol {
    width: 12%;
}

.SubjectCol {
    width: 31%;
}

.LitteratureCol {
    width: 31%;
}

.ExercisesCol {
    width: 12%;
}

.AssignmentsCol {
    width: 14%;
}

img {
    max-height: 30rem;
}

.exercises h4, .notes h4 {
    margin-top: 1.5rem;
}