extends layout

block header
  h2 Code-example from: #[strong SDJ1]

block content
  section.column.small-12
    h2 Files
    p
      a(href="#studentstxt") students.txt
  section.column.small-12
    h2(id="studentstxt") students.txt
    pre
      code.Java.
        Jens,Jensen,Denmark
        Alex,Fischer,Bulgaria
        Kyle,Bobsen,Denmark
        Jante,Lovsen,Denmark
        Gunhild,Christensen,Romania
        Jane,Larsen,Romania
        Helena,Szczepaniak,Poland
        Benjamin,Jensen,Denmark
        Benjamin,Tofan,Romania
        Christen,Ibushev,Bulgaria
        Dobromir,Bzovii,Bulgaria
        Dumitru,Boromir,Moldova
        Deaz,Kaminski,Poland
        Frederik,Haugaard,Denmark
        Hfristo,Sqtoyanov,Bulgaria
        Jakub,Tjemka,Poland
        Jans,Svartsjö,Sweden
        Julia,Nielsen,Denmark
        Katja,Soerensen,Denmark
        Kristina,Folleova,Slovakia
        Kristjan,Kolinin,Estonia
        Lukasz,Kowulski,Poland
        Maciej,Wydre,Poland
        Milen,Povchev,Bulgaria
        Nilla,Anwuri,Denmark
        Oleg,Eniq,Moldova
        Petra,Kerapecka,Slovakia
        Piotr,Barlinski,Poland
        Rinalds,Ezins,Latvia
        Roberto,Sennazzaro,Italy
