extends layout

block header
  h2 Course page for: #[strong SDJ1]

block content
  section.column.small-12
    h2 Exercise 21.01 (Exam question example)
    object(data="/static/images/ExamQuestion3SiteAdministrator.svg", type="image/svg+xml")

    h2 Exercise 21.02 (Exam question example)
    object(data="/static/images/ExamQuestion4JavaProject.svg", type="image/svg+xml")

    h2 Exercise 21.03 (Exam question example)
    object(data="/static/images/ExamQuestion5Kindergarten.svg", type="image/svg+xml")
