extends layout

block header
  h2 Course page for: #[strong SDJ1]

block content
  section.column.small-12
    h2 Exercises day 33
    h3 Exercise 33.01
    p Add Javadocs to your group hand in
    h3 Exercise 33.02
    p Implement the following UML diagram using an ArrayList to store the passengers in the PassengerList
    object(data="/static/images/day33.svg", type="image/svg+xml")
    h3 Exercise 33.03
    p Implement the same UML diagram as in 33.02, but this time use an Array to store the passengers in the PassengerList