extends layout

block header
  h2 Course page for: #[strong SDJ1]

block content
  section.column.small-12
    h2 Exercise 19.01
    p Implement the UML class diagram shown below
    object(data="/static/images/gradeUML.svg", type="image/svg+xml")
    h2 Exercise 19.02
    p Create a user at #[a(href="https://www.codechef.com") codechef]
    p Solve this problem: #[a(href="https://www.codechef.com/problems/ALPHABET") Studying Alphabet]
    p Start by solving subtask 1, when you succeed with this expand your solution to also handle subtask 2.