extends layout

block header
  h2 Course page for: #[strong SDJ1]

block content
  section.column.small-12
    h2 Tips tricks and tests for the example exam questions
    h3 Testing with the available test classes
    p.
      To help you figure out if your solutions are good a test class will be made available for each exam question.
      To use it simply save the file to the folder your solution is located, and run the test class.
    p.
      For each testcase i, the test class will output "Test i: True" or "Test i: False", all should be true.
      If you see one saying false, check which print statement writes the number for that test, and what it checks, you
      most likely have implemented this a bit wrong.
    h3 Question 1
    p.
      Remember you can use the Gregorien calender class to help get the date for today, it will require the following
      imports
    pre
      code.java.
        import java.util.Calendar;
        import java.util.GregorianCalendar;
    p.
      Example solution can be found #[a(href="/static/documents/examQ1solution.zip") here], including a test class, if
      if you use this class with your own code be aware that i've implemented additional methods (equals) in several
      classes, to test it properly.
    h3 Question 2
    p.
      Even though you can add an extra instance variable (size) this is not needed, and you can just as easily implement
      the BookList without it.
    p A test class can be found #[a(href="/static/documents/TestQ2.java") here]
    p An example solution can be found #[a(href="/static/documents/examQ2solution.zip") here]
    h3 Question 3
    p.
      Never implement private fields and methods if you don't see the point of them, if they are important this will be
      apparent when implementing the rest.
    p.
      In this case a solution can be made without using the private field size, or the private method
      doubleTheListCapacity(), these are obsolete when using arraylists, but can be helpfull if you choose an array to
      hold the students.
    p A test class can be found #[a(href="/static/documents/TestQ3.java") here]
    p An example solution can be found #[a(href="/static/documents/examQ3solution.zip") here]
    h3 Question 4
    p.
      In the isAvailable method in the Car class we could use an if-statement to say if (rentedTo == null) then true
      else false, but remember that "rentedTo == null" is a boolean statement, so it is a question which returns yes or
      no i.e it returns "true" or "false". we can therefore simply just use
    pre
      code.java.
        return rentedTo == null;
    p A test class can be found #[a(href="/static/documents/TestQ4.java") here]
    p An example solution can be found #[a(href="/static/documents/examQ4solution.zip") here]