extends layout

block header
  h2 Course page for: #[strong SDJ1]

block content
  section.column.small-12
    h2 Exercises day 30
    h3 Exercise 30.01
    p Create the following GUI (no functionality required)
    img(src="/static/images/calculator.png")
    h3 Exercise 30.02
    p Create the following GUI (no functionality required)
    img(src="/static/images/align.png")
    h3 Exercise 30.03
    p Do all exercises from monday, and use dialog boxes to handle input when you create your test class