extends layout

block header
  h2 Course page for: #[strong SDJ1]

block content
  section.column.small-12
    h2 Exercises day 34
    h3 Exercise 34.01
    p.
      Implement the following UML diagram using ArrayList
    object(data="/static/images/exercise3401.svg", type="image/svg+xml")
    h3 Exercise 34.02
    p.
      Implement the same UML diagram as before, but this time use an array