extends layout

block header
  h2 Course page for: #[strong SDJ1]

block content
  section.column.small-12
    h2 Exercise 23.01
    p.
      Implement the classes shown in the class diagram below. Then create a test class to test the functionality.
    object(data="/static/images/exercise2301.svg", type="image/svg+xml")

    h2 Exercise 23.02
    p.
      This one you got to think to solve
    object(data="/static/images/exercise2302.svg", type="image/svg+xml")