extends layout

block header
  h2 Course page for: #[strong SDJ1]

block content
  section.column.small-12
    h2 Exercises day 29
    p.
      Look at your previous exercises, for example the exercises from #[emph day 8], and modify them, so they utilize Message Boxes for input and output.