extends layout

block header
  h2 Course page for: #[strong SDJ1]

block content
  section.column.small-12
    h2 Exercise 17.01
    p Finish your implementation of the Brain class from Monday, and use it in your Person class in the following way
    object(data="/static/images/BrainPersonMyDate.svg", type="image/svg+xml")
    p Create a test class to test this.
    h2 Exercise 17.02
    p [Gaddis] Programming Challenges 3, p. 464-465
    h2 Exercise 17.03
    p.
      Draw a UML Class Diagram of the classes presented in [Gaddis] Programming Challenges 10, p. 467. What
      relationships are there, and between which classes? (before proceeding ask if it is correct)
    p.
      Afterwards implement the classes in Java, and write a test program to test the functionality.