extends layout

block header
  h2 Course page for: #[strong SDJ1]

block content
  section.column.small-12
    h2 Look at all the exercises that you haven't completed in previous weeks

    h2 Exercise 11.01
    p.
      Write a program that asks the user for a username, a password and a confirmation
      password. Keep asking the user until the password and confirmation passwords match.
      Then print out the entered username and password and exit.

    h2 Exercise 11.02
    p.
      Write a class with at least three meaningful fields. There should be getters and
      setters for all of these fields. Initialize the fields with parameters
      given to a constructor.

    h2 Exercise 11.03
    p.
      Continue with the class from the previous exercise. Add a method to the
      class that uses two of the fields in order to output some value.

    h2 Exercise 11.04
    p.
      You have three classes, Water, Glass and Mouth. You need to add the
      following fields and methods to the classes:
    ul
      li drink(Water water) (method)
      li getVolume() (method)
      li containWater(Water water) (method)
      li water (field)
      li volume field
      li break()
    p.
      Which classes should have which methods and fields?

    h2 Work on your hand-in for thursday
    p.
      Use whatever spare time you may have, to look at your hand-in for this
      thursday.
