extends layout

block header
  h2 Course page for: #[strong SDJ1]

block content
  section.column.small-12
    h2 Exercise 5.01
    h4 UML class diagrams
    p Create UML class diagrams for the classes created on monday
    ul
      li Create a UML class diagram for your Person class
      li Create a UML class diagram for your MyDate class
      li Create a UML class diagram for your Calculator class
    h2 Exercise 5.02
    h4 Create a class from an UML class diagram
    div.uml-class
      div.name Student
      div.fields
        ul
          li.private name : String
          li.private gender : char
          li.private studentNumber : int
      div.methods
        ul
          li.public Student(name : String, gender : char, studentNumber : int)
          li.public setName(name : String) : void
          li.public setStudentNumber(studentNumber : int) : void
          li.public getName() : String
          li.public getGender() : char
          li.public getStudentNumber() : int
    h2 Exercise 5.03
    h4 The Book class
    p Create a UML class diagram for a class Book. Then implement it in Java and test it
    p.
      The Book class should have the following fields: author (String), title (String), price (double), and pages (int).
    p And the following methods
    ul
      li A 4-argument constructor initializing all fields
      li Get methods for all fields
      li Set method for price
      li A method toString() that returns a String containing author, title, price, pages. For the course book this would be "Tony Gaddis, Starting Out with Java, 700, 1228"
    p.
      Write a test program that creates two Book objects based on user input (use a Scanner object to input author,
      title, price, and pages), then lowers the price on both books by 20%, and finally prints out the information about
      the two books.
    h2 Extra exercise
    h4 Making a URL class diagram from a loose description
    p Look at this at home and come up with a solution, we will look at these thursday
    p.
      A reservation system allows a faculty member to reserve rooms. When a faculty member comes to the administrator to
      reserve a room in a given time period, he is shown a list of all rooms with their block and floor number, the
      number of seats, and whether the room has a projector. The faculty member chooses a room, and the administrator
      fills out a reservation receipt with the room number, the name of the faculty member, and the time period.
    ul
      li Design your classes and draw a UML class diagram with them.