extends layout

block header
  h2 Course page for: #[strong SDJ1]

block content
  section.column.small-12
    h2 Exercise 6.01
      h5 Adding Constructors with parameters
      p Create a second constructor that initializes the fields to variables given as parameters to the constructor
      ul
        li In your Person class add a second constructor with name and birthday as parameters, and initialize your fields to these values.
        li In your MyDate class add a second constructor with day, month and year as parameters, and initialize your fields to these values.
      p Remember to test the new constructors in your test classes