extends layout

block header
  h2 Course page for: #[strong SDJ1]

block content
  section.column.small-12
    h2 Example exam questions
    h3 Question 1
    object(data="/static/images/FinalExamQuestion1ApartmentComplex.svg", type="image/svg+xml")
    p Example solution can be found #[a(href="/static/documents/examQ1solution.zip") here]
    h3 Question 2
    object(data="/static/images/FinalExamQuestion2BookList.svg", type="image/svg+xml")
    h3 Question 3
    object(data="/static/images/FinalExamQuestion3StudentList.svg", type="image/svg+xml")
    h3 Question 4
    object(data="/static/images/FinalExamQuestion4CarRental.svg", type="image/svg+xml")