extends layout

block header
  h2 Course page for: #[strong SDJ1]

block content
  section.column.small-12
    h2 Exercise 24.01
    p.
      Download and install GreenFoot #[a(href="http://www.greenfoot.org/download", target="_blank") link]
    p.
      The exercise is to implement the remaining features of the Pacman game using Greenfoot. Below you can find two
      links to download two different versions of the code for you to add to. The version for GBE student have more
      methods that needs to be implemented, but this also makes it possible to add your own touch to the game.
    p.
      #[a(href="/static/documents/pacman-exercise.zip") Pacman for GBE students]
    p.
      #[a(href="/static/documents/pacman-opgave.zip") Pacman for non GBE students]
    h2 Exercise 24.02
    p.
      Try to come with your own alterations to the game that you find interesting, some suggestions:
    ul
      li Customize end game text
      li Add fruits
      li Add sounds
      li Add a score
      li Make Pacman move quicker than the ghosts
      li Make other coloured ghosts