extends layout

block header
  h2 Course page for: #[strong SDJ1]

block content
  section.column.small-12
    h2 Exercise 2.01
    p [Gaddis] Programming Challenge 12, p. 147
    h2 Exercise 2.02
    p.
      Write an application that reads three integers from the keyboard and displays the sum and the product on the 
      screen.
    h2 Exercise 2.03
    p.
      Modify the program you made last time in Exercise 1.05 so that it now
      asks the user to input the sales tax, and the prices for the three items.
      Then calculate and print out the tax and total prices like before.
    h2 Exercise 2.04
    p.
      Write an application that uses a Scanner object, to read your name, age
      and address. Afterwards the application should display the information
      on the screen.
    h2 Exercise 2.05
    p [Gaddis] Programming Challenge 10, p. 147
    h2 Exercise 2.06
    p [Gaddis] Programming Challenge 13, p. 147
    h2 Exercise 2.07
    p [Gaddis] Programming Challenge 14, p. 147
    h2 Exercise 2.08
    p.
      Modify the program you made in Exercise 2.07 so that all values can
      be input from the keyboard, rather than being created as literals in the
      program. The user should be able to input:
    ul
      li The number of purchased shares
      li The price per share of the purchased stock
      li The number of sold shares
      li The price per share of the sold stock
      li The commission for the stockbroker 
    h2 Exercise 2.09
    p [Gaddis] Programming Challenge 5, p. 146