extends layout

block header
  h2 Course page for: #[strong SDJ1]

block content
  section.column.small-12
    h2 Exercise 4.01
    h5 The Person class
    p.
      Create a class called Person representing a person with 2 fields: A name (String), and a birthday (String).
    ul
      li Implement the class Person in Java
      li Instantiate the fields in the constructor
      li Add get and set methods for the fields
      li Implement a test class with a main method, for your class Person. Create at least 2 Person objects
      li Print out the values for a person by using the get methods
    h2 Exercise 4.02
    h5 The MyDate class
    p.
      Create a class called MyDate that includes three pieces of information as fields: A day (int), a month (int), and
      a year (int).
    ul
      li Implement the class MyDate in Java
      li instantiate the fields in the constructor
      li Add get and set methods for the fields
      li Add a method displayDate that returns the day, month, and year separated by forward slashes (e.g. 29/8/2016).
      li Implement a test class with a main method, for your class MyDate. Create at least 2 MyDate objects objects
      li Print out the date using the displayDate method.
    h2 Exercise 4.03
    h5 The Calculator class
    p.
      Create a class called calculator with a result field (double)
    ul
      li Implement the class Calculator in Java
      li Instantiate the field in the constructor
      li Add a get method for the field
      li Add a method sum, that takes 2 doubles as parameters and puts the sum in the result field
      li Do the same as above but for multiplication, division and subtraction
      li Create a displayResult method that returns a string representation of the result
      li Create a testclass with a main method where you test that your class does what it is supposed to