extends layout

block header
  h2 Course page for: #[strong SDJ1]

block content
  section.column.small-12
    h2 Group hand-in
    p.
      Implement all classes shown in the UML Class Diagram below and a test class with a main method in which you test
      the functionality.
    object(data="/static/images/groupAssignment1.svg", type="image/svg+xml")
    p.
      Implement all classes shown in the UML Class Diagram below and a test class with a main method in which you test
      the functionality.
    object(data="/static/images/groupAssignment2.svg", type="image/svg+xml")