extends layout

block header
  h2 Course page for: #[strong SDJ1]

block content
  section.column.small-12
    h2 Notes: day 7
    h4 Test
    p.
      On Monday (12/9-16) you will have your first test in this course. The test is mandatory, but your score will not
      effect your final grade.
    p.
      The test starts at 12.35 sharp so don't be late. You will have exactly 45 minutes to complete the test. No later
      than 13.20 you have to hand in all your code by using the hand in system provided on this website.
    p.
      You are required to hand in 1 zip file containing all the classes you have written during the test.
    p.
      The test will cover what we have learned so far (chapters 2 and 3 in the book approximately) so it's a good idea
      to read up on the stuff you found hard in previous exercises.
    p.
      You are allowed to use all tools you find relevant, but since this is to help you prepare for the examination,
      for your own sake i would advice you not to copy paste code from previous exercises. If you have doubts on how to
      build a class take a look at the notes from day 4.
    p.callout.warning.
      It is mandatory to be here for the test. If you are not here for the test, and have not beforehand sent me an
      email with a very good explanation, I will conclude that you are NOT taking this course, and you will thereby not
      be able to participate in the exam.
    p.
      This is not to throw you all out of the course, but to get a realistic idea of how many students are actually in
      this course. (and since coming to classes is already kind of mandatory you should have no problems)
    p.
      If you for some reason can't be there (fx if you have massive diarrhea) you have to write an email to
      #[a(href="mailto:alexandra.hou@gmail.com") alexandra.hou@gmail.com] before 12.30 monday.