extends layout

block header
  h2 Course page for: #[strong SDJ1]
  
block content
  section.column.small-12
    h2 Notes: day 1
    h4 Installing Java
    p.
      Go #[a(href="http://www.oracle.com/technetwork/java/javase/downloads/jdk8-downloads-2133151.html" target="_blank") here]
      and download the file matching your operating system. After the download open the file and follow the installation
      guide.
    h4 Installing Eclipse
    h5 For OSX
    p.
      Follow the guide #[a(href="http://macappstore.org/eclipse-java/" target="_blank") here]
    h5 For Windows
    p.
