extends layout

block header
  h2 Course page for: #[strong SDJ1]

block content
  section.column.small-12
    h2 Exam Schedule
    p 10.15   Amalie Illum (239652)
    p 10.27   Camilla Rüger Jepsen (239693)
    p 10.39   Christian Wichmann Andersen (239625)
    p 10.51   Emma Kølsen-Petersen (242107)
    p 11.03   Francesca Pillon (239687)
    p 11.15   Jacob Jensen (239612)
    p 11.27   Jendrik Bumann (239343)
    p 11.39   Lilian Marinov Marinov (242111)
    p 11.51   Mads Lønsgaard Vestergaard (239498)
    p 12.03   Maria Helene Molke Skov Rediin (239175)
    p 12.15   Michelle Thomsen (239563)
    p 12.27   Poomika Kumarasamy (239580)
    p 12.39   Rasmus Broholm Nørgaard (239525)
    p 12.51   Simon Bay Ransby (239539)