section .split-2-left {
    width: 45%;
    float: left;
    padding-right: 5%;
}

section .split-2-right {
    margin-left: 5%;
    width: 45%;
    float: left;
    clear: right;
    text-align: left;
}

section .split-1-3-left {
    width: 30%;
    float: left;
    padding-right: 5%;
}

section .split-2-3-right {
    margin-left: 5%;
    width: 60%;
    float: left;
    clear: right;
    text-align: left;
}

section .split-2-3-left {
    width: 60%;
    float: left;
    padding-right: 5%;
}

section .split-1-3-right {
    margin-left: 5%;
    width: 30%;
    float: left;
    clear: right;
    text-align: left;
}

section .close-split-2-3-left {
    width: 66%;
    float: left;
}

section .close-split-1-3-right {
    width: 33%;
    float: left;
    clear: right;
    text-align: left;
}

section .stdout {
    font-size: 0.55em;
    text-align: left;
    background: #efefaf;
    border: solid thin #a1a173;
    margin: 20px auto;
    width: 90%;
}

section .narrowTable {
    width: 80%;
    font-size: 0.55em;
}

section .highlight {
    color: red;
    font-weight: bold;
}

section .small-text {
    font-size: 75%
}