extends layout

block content
  section
    h2 Software Development with UML and Java
    i Day 19
  section
    h2 Agenda
    ul
      li 2-dimensional arrays
      li Problems closer to real life
  section
    h2 2-dimensional arrays
    ul
      li A two-dimensional (2D) array is an array of arrays
      li It can easiest be thought of as a table with rows and columns
    pre
      code.java.
        double[][] scores = new double[3][4];
        scores[2][3] = 42;
    img(src="/static/images/table.png" width="500")
  section
    h2 Problems closer to real life
    ul
      li Problem J from DM