
extends layout

block content
  section
    h2 Software Development with UML and Java
    i Day 24
  section
    h2 Agenda
    ul
      li Some programming basics
      li Greenfoot
      li Pacman
      li Followup on midterm evaluation
  section
    h2 Followup on midterm evaluation
    ul
      li The mail from me on structure
      li The exam date
      li The amount of apologies
      li We want to apologize for all the miscommunication
      li Are there still some structure you feel like you're lacking?
      li Workshops