
extends layout

block content
  section
    h2 Software Development with UML and Java
    i Day 30
  section
    h2 Agenda
    ul
      li Creating windows
      li Adding components
      li Layouts
  section
    section
      h2 Creating windows
      ul
        li Often, dialog boxes are not enough
        li We want one or more windows with various components
        li A window (frame) is a #[emph container] that holds other components
          ul
            li In Swing, a frame is created with the #[tt JFrame] class
            li A frame is a basic window, with a border, a title and buttons for minimizing, maximizing and closing the window
    section
      h2 Creating windows
      div.split-2-3-left
        pre
          code.Java.
            import javax.swing.JFrame;
            
            public class SimpleGUI1 extends JFrame {
              public SimpleGUI1() {
                super("Window Title here");
            
                setSize(250, 100);
                setVisible(true);
                
                // Exit the application when the 
                // window is closed
                setDefaultCloseOperation(
                      JFrame.EXIT_ON_CLOSE);

                // Center window on screen
                setLocationRelativeTo(null); 
              }
            }
        hr
        pre
          code.Java.
            public class SimpleGUI1Test {
              public static void main(String[] args) {
                SimpleGUI1 sgui1 = new SimpleGUI1();
              }
            }
      div.split-1-3-right
        img(src="/static/images/windows1.png")
  section
    section
      h2 Adding components
      ul
        li After we have created a window, we want to populate it with components
        li A #[tt JFrame] has a #[emph content pane] container, to which every component is added
        li This is done with the #[tt add] method in the #[tt JFrame] class
        li Instead of adding every component directly, we often enclose them in #[tt JPanel] objects
        li #[tt JPanel] objects can contain other #[tt JPanel] objects, thus allowing for advanced GUI structures
    section
      h2 Adding components
      ul
        li Swing provides many different types of components, which we can add to our GUIs
        li Three common components are:
        ul
          li #[tt JLabel] - An area that can display text
          li #[tt JTextField] - An area in which the user may type a single line of input from the keyboard
          li #[tt JButton] - A button that the user can click
    section
      h2 Adding components
      div.split-2-3-left
        pre
          code.Java.small-text.
            import java.awt.Dimension;
            import javax.swing.*;
  
            public class SimpleGUI1 extends JFrame {
              
              private JPanel panel1;
              private JLabel label1;
            
              public SimpleGUI1() {
                super("Window Title here");
  
                panel1 = new JPanel();
            
                label1 = new JLabel("Text:");
                label1.setPreferredSize(new Dimension(30, 20));
                panel1.add(label1);
  
                add(panel1);
                setSize(250, 100);
                setVisible(true);
  
                setDefaultCloseOperation(
                      JFrame.EXIT_ON_CLOSE);
                setLocationRelativeTo(null); 
              }
            }
      div.split-1-3-right
        img(src="/static/images/windows2.png")
    section
      h2 Adding components
      div.split-2-3-left
        pre
          code.Java.small-text.
            import java.awt.Dimension;
            import javax.swing.*;
  
            public class SimpleGUI1 extends JFrame {
              
              private JPanel panel1;
              private JLabel label1;
              private JTextField textField1;
            
              public SimpleGUI1() {
                super("Window Title here");
  
                panel1 = new JPanel();
            
                label1 = new JLabel("Text:");
                label1.setPreferredSize(new Dimension(30, 20));
                panel1.add(label1);
            
                textField1 = new JTextField(10);
                panel1.add(textField1);
  
                add(panel1);
                setSize(250, 100);
                setVisible(true);
  
                setDefaultCloseOperation(
                      JFrame.EXIT_ON_CLOSE);
                setLocationRelativeTo(null); 
              }
            }
      div.split-1-3-right
        img(src="/static/images/windows3.png")
    section
      h2 Adding components
      div.split-2-3-left
        pre
          code.Java.small-text.
            import java.awt.Dimension;
            import javax.swing.*;
            public class SimpleGUI1 extends JFrame {
              
              private JPanel panel1;
              private JLabel label1;
              private JTextField textField1;
              private JButton button1;
            
              public SimpleGUI1() {
                super("Window Title here");
  
                panel1 = new JPanel();
            
                label1 = new JLabel("Text:");
                label1.setPreferredSize(new Dimension(30, 20));
                panel1.add(label1);
                
                textField1 = new JTextField(10);
                panel1.add(textField1);
            
                button1 = new JButton("Click me");
                panel1.add(button1);
  
                add(panel1);
                setSize(250, 100);
                setVisible(true);
  
                setDefaultCloseOperation(
                      JFrame.EXIT_ON_CLOSE);
                setLocationRelativeTo(null); 
              }
            }
      div.split-1-3-right
        img(src="/static/images/windows4.png")
  section
    section
      h2 Radio buttons
      ul
        li #[emph Radio buttons] allow the user to select one choice from several possible options
        li The #[tt JRadioButton] is used to create radio buttons, it has two constructors:
          ul
            li #[tt JRadioButton(String text)]
            li #[tt JRadioButton(String text, boolean selected)]
        li Example:
      pre
        code.Java.
          JRadioButton r1 = new JRadioButton("Choice 1");
          JRadioButton r2 = new JRadioButton("Choice 2", true);
      img(src="/static/images/windows5.png")
    section
      h2 Radio buttons
      ul
        li Radio buttons are usually grouped together
        li Within each of these groups, only one radio button can be selected
        li Clicking on another button, deselects the current button and selects the button that was clicked
      
      pre
        code.Java.
          JRadioButton r1 = new JRadioButton("Choice 1", true);
          JRadioButton r2 = new JRadioButton("Choice 2");
          JRadioButton r3 = new JRadioButton("Choice 3");
          
          ButtonGroup group = new ButtonGroup();
          group.add(r1);
          group.add(r2);
          group.add(r3);
    section
      h2 Radio buttons
      ul
        li #[tt ButtonGroup] objects are not containers like #[tt JPanel] objects
        li If you wish to add the radio buttons to a panel, you must still add each of them individually
        li You should not add the #[tt ButtonGroup]
      pre
        code.Java.
          panel.add(r1);
          panel.add(r2);
          panel.add(r3);
    section
      h2 Check boxes
      ul
        li Check boxes are just like radio buttons, except you can select several check boxes instead of just one
        li The #[tt JCheckBox] class, is used to create check boxes
        li The #[tt JCheckBox] has constructors similar to radio buttons
      pre
        code.Java.
          JCheckBox c1 = new JCheckBox("SDJ1", true);
          JCheckBox c2 = new JCheckBox("SDJ2");
      img(src="/static/images/windows6.png")
    section
      h2 Colours
      ul
        li Many Swing components can change background colour and text (foreground) colour
        li The methods #[tt setBackground] and #[tt setForeground] both take a #[tt Color] object as argument
        li The Color class's constructor takes three numbers (0-255) as argument, representing the amount of red, green and blue.
      pre
        code.Java.
          JPanel panel1 = new JPanel();
          panel1.setBackground(new Color(230, 100, 230));
      img(src="/static/images/windows7.png")
    section
      h2 Borders
      ul
        li In addition to colors, we can also add a border to most components.
        li The #[tt setBorder] method accepts a #[tt Border] object as its argument. There are many different types of borders.
      
      pre
        code.Java.
          JPanel panel2 = new JPanel();
          Color col1 = new Color(230, 10, 230);
          panel2.setBorder(new LineBorder(col1, 2));
          panel2.add(new JLabel("Text 1"));
          panel2.add(new JLabel("Text 2"));
          panel2.add(new JLabel("Text 3"));
          
          panel1.add(panel2);
      img(src="/static/images/windows8.png")
  section
    section
      h2 Layout managers
      ul
        li An important part of designing a GUI application is determining the layout of the components
          ul
            li In Java we are not supposed to specify the exact location of a component within a window (although possible)
            li Instead we should use a layout manager
            li The layout manager will help control the positions and sizes of components, and makes adjustments when necessary (e.g. when the size of a window is changed)
        li Java provides several different layout managers, useful for different situations
    section
      h2 Layout managers
      div.small-text
        ul
          li Four of the most commonly used layout managers:
            ul
              li.
                FlowLayout - Simply arranges components horizontally in a row. If there
                is not room for all components in one row, they are distributed across
                multiple rows. (default for JPanel objects)
              li BoxLayout - Either places all components horizontally next to each other in a row, or vertically below each other:
                ul
                  li BoxLayout.X_AXIS or BoxLayout.Y_AXIS
              li BorderLayout - Arranges components in five regions: (default for JFrame objects)
                ul
                  li North, South, East, West, and Center
              li GridLayout - Arranges components in a grid with rows and columns
    section
      h2 Layout managers
      ul
        li A layout manager is added to a component by calling the setLayout method
          ul
            li We can add a layout manager to any of the GUI classes that are used to contain other components - e.g. JFrame and JPanel
            li In a GUI class that extends JFrame we could set the layout of its content pane by calling setLayout in the constructor
  section
    section
      h2 Flow layout
      ul.small-text
        li Components will be placed horizontally, from left to right, in the order that they were added
        li When there is no more room in a row, the next components “flow” to the next row
        li we can also align all components to the right if we like
      div.split-2-3-left
        pre
          code.java.
            //flowlayout is default for JPanels
            JPanel pnl1 = new JPanel();
            JButton btn1 = new JButton("Button 1");
            pnl1.add(btn1);
            JButton btn2 = new JButton("Button 2");
            pnl1.add(btn2);
            JButton btn3 = new JButton("Button 3");
            pnl1.add(btn3);
            JButton btn4 = new JButton("Button 4");
            pnl1.add(btn4);
            JButton btn5 = new JButton("Button 5");
            pnl1.add(btn5);
            //the line below align all components to the right if uncommented
            //pnl1.setLayout(new FlowLayout(FlowLayout.RIGHT));
      div.split-1-3-right
        img(src="/static/images/flowLayout.png")
    section
      h2 Box layout horizontal
      ul
        li In the constructor of the BoxLayout class it’s defined how the components should be arranged (in this case X_AXIS)
      pre
        code.java.
          JPanel pnl1 = new JPanel();
          pnl1.setLayout(new BoxLayout(pnl1, BoxLayout.X_AXIS));
          JButton btn1 = new JButton("Button 1");
          pnl1.add(btn1);
          JButton btn2 = new JButton("Button 2");
          pnl1.add(btn2);
          JButton btn3 = new JButton("Button 3");
          pnl1.add(btn3);
          JButton btn4 = new JButton("Button 4");
          pnl1.add(btn4);
          JButton btn5 = new JButton("Button 5");
          pnl1.add(btn5);
      img(src="/static/images/boxLayout.png")
    section
      h2 Box layout vertical
      ul
        li In the constructor of the BoxLayout class it’s defined how the components should be arranged (in this case Y_AXIS)
      div.split-2-3-left
        pre
          code.java.
            JPanel pnl1 = new JPanel();
            pnl1.setLayout(new BoxLayout(pnl1, BoxLayout.Y_AXIS));
            JButton btn1 = new JButton("Button 1");
            pnl1.add(btn1);
            JButton btn2 = new JButton("Button 2");
            pnl1.add(btn2);
            JButton btn3 = new JButton("Button 3");
            pnl1.add(btn3);
            JButton btn4 = new JButton("Button 4");
            pnl1.add(btn4);
            JButton btn5 = new JButton("Button 5");
            pnl1.add(btn5);
      div.split-1-3-right
        img(src="/static/images/boxLayoutY.png")
    section
      h2 Border layout
      ul
        li Only one component can be added to each region (North, West, Center, East, South)
          ul
            li A JPanel is a component, so the one component in a region can contain many other components
      div.split-2-3-left
        pre
          code.java.
            //border layout is default for JFrame
            JButton btn1 = new JButton("Button 1");
            add(btn1, BorderLayout.NORTH);
            JButton btn2 = new JButton("Button 2");
            add(btn2, BorderLayout.WEST);
            JButton btn3 = new JButton("Button 3");
            add(btn3, BorderLayout.CENTER);
            JButton btn4 = new JButton("Button 4");
            add(btn4, BorderLayout.EAST);
            JButton btn5 = new JButton("Button 5");
            add(btn5, BorderLayout.SOUTH);
      div.split-1-3-right
        img(src="/static/images/borderLayout.png")
    section
      h2 Grid layout
      ul
        li One component can be added to each cell
          ul
            li The number of rows and columns are given as arguments to the GridLayout constructor
      div.split-2-3-left
        pre
          code.java.
            //Set grid layout for JFrame
            setLayout(new GridLayout(3, 2));
            JButton btn1 = new JButton("Button 1");
            add(btn1);
            JButton btn2 = new JButton("Button 2");
            add(btn2);
            JButton btn3 = new JButton("Button 3");
            add(btn3);
            JButton btn4 = new JButton("Button 4");
            add(btn4);
            JButton btn5 = new JButton("Button 5");
            add(btn5);
      div.split-1-3-right
        img(src="/static/images/gridLayout.png")
    section
      h2 Null layout
      div.split-2-3-left
        pre
          code.java.
            public class NullLayoutGUI extends JFrame
            {
               private JButton button1;
               private JPanel panel1;
               public NullLayoutGUI()
               {
                  super("Null layout");
                  panel1 = new JPanel();
                  panel1.setLayout(null);
                  button1 = new JButton("Click me");
                  panel1.add(button1);
                  button1.setBounds(30, 80, 120, 25);
                  add(panel1);
                  setSize(300, 200);
                  setVisible(true);
                  setDefaultCloseOperation(JFrame.EXIT_ON_CLOSE);
                  setLocationRelativeTo(null);
              }
            }
      div.split-1-3-right
        img(src="/static/images/nullLayout.png")
