
extends layout

block content
  section
    h2 Software Development with UML and Java
    i Day 33
  section
    h2 Agenda
    ul
      li Arrays and ArrayLists
      li A look at difficult methods from the handin
      li About the exam
      li An exam example (live coded)
  section
    h2 Arrays
    ul
      li To create an array variable i to hold integers we write
    pre
      code.java.
        int[] i;
    ul
      li Initializing arrays by size
    pre
      code.java.
        i = new int[5];
    ul
      li Storing the 3'rd element in the array in a variable a
    pre
      code.java.
        int a = i[2];
  section
    h2 ArrayLists
    ul
      li To create an ArrayList variable i to hold integers we write
    pre
      code.java.
        ArrayList<Integer> i;
    ul
      li Initializing ArrayLists
    pre
      code.java.
        i = new ArrayList<Integer>();
    ul
      li Storing the 3'rd element in the array in a variable a
    pre
      code.java.
        int a = i.get(2);
  section
    h2 A look at difficult methods from the handin
    ul
      li NoteBook - addNote - check numberOfNotes < maxNumberOfNotes
      li Notebook - removeNote
      li Notebook - getPriorityNotes
      li EmployeeList - getNumberOfEmployees
      li EmployeeList - getAllEmployees
  section
    h2 About the exam
    ul
      li Information will be gradually uploaded to the course page
      li In end december/start january you will all recieve an email with information regarding the exam
      li There will be optional "come and ask questions" class in January
        ul
          li You will receive an email regarding this when we know when the exam will be held (please remember to respond to this)
  section
    h2 An exam example
    img(src="/static/images/FinalExamQuestion1ApartmentComplex.svg", style="height: 15em;", type="image/svg+xml")