extends layout

block content
  section
    h2 Software Development with UML and Java
    i Day 1
  section
    h2 Agenda
    ul
      li Books
      li Eclipse and Java
      li About the course
      li Exercises
  section
    h2 Books
    ul
      li We should pick them up at the library at ????
  section
    h2 Eclipse
    ul
      li Links to download/install the software can be found in the notes for today
  section
    h2 About the course
    ul
      li Main purpose
      li Goals
      li Topics
      li Teaching methods & study activity
      li Examination
  section
    h2 Main purpose
    p.
      The main purpose of the course is to provide students with the qualifications needed to understand the core
      concepts and techniques of object-oriented system development and programming
  section
    h2 Goals
    ul
      li Having completed this course, students should be able to:
        ul
          li Master and use the basic object-oriented concepts, including relationships, collaboration and polymorphism
          li Analyse/design and describe small software systems with UML according to the object-oriented method
          li Demonstrate the knowledge of documentation of analysis and design
          li Implement smaller programs in Java with file IO persistence
          li Implement smaller programs in Java including simple GUIs
          li Implement smaller systems from a UML design
          li Use best practices for writing and documenting Java source code
  section
    h2 Topics
    div.split-2-left
      h5 Java Programming:
      ul
        li Basics of Java
        li Classes and Objects
        li Inheritance
        li Arrays and ArrayList Collections
        li Exceptions
        li File IO
        li GUI programming

    div.split-2-right
      h5 UML:
      ul
        li Class diagrams
        li Activity diagrams
        li Sequence diagrams