extends layout

block content
  section
    h2 Software Development with UML and Java
    i Day 11
  section
    h2 Classes and instances of Classes
    ul
      li Classes are classes of objects.
      li Instances are objects.
      li An instance of a class, is an object that belongs to that class.
      li Instances have their own private state, i.e. their own private copies of the fields.
      li Methods are actions the objects can take.
  section
    h2 Responsibilities and objects
    p (Live Code)
